{% extends "./main_template_temp.html" %}

{% block title %}
	Modulo: documentation
{% endblock %}

{% block header %}
	Welcome to the documentation of Modulo
{% endblock %}

{% block navigation_documentation %}
	<a href="{% url 'modulo:modulo-documentation' %}" target="" class="selected"><b>Documentation</b></a>
{% endblock %}

{% block content %}
	You can check out the database:
	<ul><a href="{% url 'modulo:modulo-module' %}">Modules</a></ul>
	<ul><a href="{% url 'modulo:modulo-category' %}">Categories</a></ul>
	<ul><a href="{% url 'modulo:modulo-interest' %}">Interests</a></ul>
	<!-- <ul>Test Persons</ul> -->
	
	{% if request.META.HTTP_REFERER %}
		<a href="{{ request.META.HTTP_REFERER }}">Back</a>
	{% endif %}
{% endblock %}