{% extends "./main_template.html" %}
{% block title %}
{{ class }} items
{% endblock %}

{% block header %}
{{ class }} items
{% endblock %}

{% block content %}
	Here is the list of all items in the database for table {{ class }}
	{% for obj in class_objects %}
		<p> 
			{% if class == 'Module' %}
				<li><a href="{% url 'modulo:modulo-module-title' obj %}">{{ obj }}</a></li>
			{% elif class == 'Category' %}
				<li><a href="{% url 'modulo:modulo-category-name' obj %}">{{ obj }}</a></li>
			{% elif class == 'Interest' %}
				<li><a href="{% url 'modulo:modulo-interest-name' obj %}">{{ obj }}</a></li>
			{% else %}
				<li>Unknown table in database...</li>
			{% endif %}
			
			<!-- <li>{{ obj }} -->
		</p>
	{% endfor %}
	
	{% if request.META.HTTP_REFERER %}
	<a href="{{ request.META.HTTP_REFERER }}">Back</a>
	{% endif %}
{% endblock %}

{% comment %}
{% endcomment %}