{% extends "./main_template_temp.html" %}
{% block title %}
	Modulo Homepage
{% endblock %}

{% block header %}
	Welcome to the Modulo: recommender system for elective modules
{% endblock %}

{% block navigation_home %}
	<a href="{% url 'modulo:modulo-index' %}" target="" class="selected"><b>Home</b></a>
{% endblock %}

{% block content %}
	Hello, world. You are at the Modulo:recommender system homepage.
	<form action="{% url 'modulo:modulo-recommender' %}" method="get">
		<ul>
			<input type="submit" id="new_rec" value="Get a recommendation" />
		</ul>
	</form>
	<form action="{% url 'modulo:modulo-documentation' %}" method="get">
		<ul>
			<input type="submit" id="go_to_doc" value="Read the documentation" />
		</ul>
	</form>
	
	Check out our <a href="https://www.jungeakademie.tum.de/modulo">webpage</a>.
{% endblock %}