{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang = "de" lang="de">
<meta charset="ISO-8859-1">
	<style type="text/css" media="screen"> @import url(http://portal.mytum.de/layout-tablet-landscape.css);</style>
	<style type="text/css"
           media="screen and (min-width:1025px)"> @import url(http://portal.mytum.de/layout.css);</style>
	<style type="text/css" media="print"> @import url(http://portal.mytum.de/print.css);</style>

	<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/backend.css" %}'>
	<link rel="apple-touch-icon-precomposed" sizes="57x57"
       href="http://portal.mytum.de/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114"
       href="http://portal.mytum.de/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72"
       href="http://portal.mytum.de/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144"
       href="http://portal.mytum.de/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60"
       href="http://portal.mytum.de/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120"
       href="http://portal.mytum.de/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76"
       href="http://portal.mytum.de/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152"
       href="http://portal.mytum.de/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png"
       href="http://portal.mytum.de/favicon-48x48.png"
       sizes="48x48" />
	<link rel="icon" type="image/png"
       href="http://portal.mytum.de/favicon-64x64.png"
       sizes="64x64" />
	<link rel="icon" type="image/png"
       href="http://portal.mytum.de/favicon-32x32.png"
       sizes="32x32" />
	<link rel="icon" type="image/png"
       href="http://portal.mytum.de/favicon-16x16.png"
       sizes="16x16" />
    <link rel="shortcut icon"
          href="http://portal.mytum.de/favicon.ico"
          type="image/x-icon" />
    <link rel="home" href="http://portal.mytum.de"
          title="Front Page" />
    <link rel="search"
          href="http://portal.mytum.de/search_document_form"
          title="Search this site" />

    <script type="text/javascript"
            src="http://portal.mytum.de/plone_javascript_variables.js"></script>
    <script type="text/javascript"
            src="http://portal.mytum.de/plone_javascripts.js"></script>
   <script async="" src="//cse.google.com/adsense/search/async-ads.js"></script>
   <script type="text/javascript" defer="" async="" src="https://www.piwik.tum.de/piwik.js"></script>

<title>Feedback</title>

<body>
<div id="portal-top">
    
        <a href="https://portal.mytum.de" alt="Startseite MyTUM" title="Startseite MyTUM"><h5 id="claim_de" class="claim">Technische Universität München</h5></a>
        <a href="https://portal.mytum.de" alt="Home MyTUM" title="Home MyTUM"></a>
   	    <h1 style="">
        	<a href="http://www.tum.de" alt="Startseite tum.de" title="Startseite tum.de">Technische Universität München</a>
        </h1>	           
</div>

<table id="layouttable">
  <tbody>
  <tr>
   <td id="portal-column-one" style="position: all; padding-left: 0px; border-left: 0px; margin-left: 0px; height: 1500px">      
   <span> 
     <div class="portlet_no_box">
     </div>
   </span>
   <span>
     <div class="portlet_no_box">
     </div>
   </span>
   <span>
     <div class="portlet">
         <h3>Links</h3>
     <div>       
     <ul id="navigationlist" class="nav_depth01">
        <h3 id="navigationheading" class="access_aural">Navigation</h3>  <li>
          
            <a href="{% url 'modulo:modulo-index' %}" target="">Home</a>
        </li>
        <div>
        <li>
            <b>
            <a href="{% url 'modulo:modulo-recommender' %}" target="" class="selected">Recommendation</a>
            </b>
        </li>
        </div>
        <div>
        <li>
            
            <a href="{% url 'modulo:modulo-documentation' %}" target="">Documentation</a>
        </li>
        </div>  
    </ul>
    </div>  
</div>
</span>
</td>
<td id="portal-column-content">
	<div class="contentBox" id="content">
		<div class="document">
			<a id="hereistthecontent" name="hereistthecontent"></a>
			<div id="maincontentwrapper">
            <div>
            <h1>This is the feedback you provided until now</h1>
             <p></p>
            </div>
            </div>
            </div>                   
            </div> 
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<p id="output"></p>

{% autoescape off %}
{% if selected_module %}
	<strong>Selected module:</strong> <u>{{ selected_module }}</u><br>
	{% if selected_module in details %}
		More details on module {{ selected_module }} coming soon to a web browser near you...<br>
	{% endif %}
	<form action="{% url 'modulo:modulo-recommender' %}" style="display:inline" method="post">
		{% csrf_token %}
		<input type="radio" name="selected_module_{{ selected_module }}" id="selected_module_feedback" value="interesting" />
		<label for="selected_module_feedback">Deselect module</label><br>
		<input type="submit" onclick="return submitForm('selected', 0, &quot;{{ selected_module }}&quot;);" name="submit{{ selected_module }}" value="Update feedback" />
	</form>
	<form action="{% url 'modulo:modulo-recommender' %}" style="display:inline" method="post">
		{% csrf_token %}
		{% if selected_module in details %}
			<input type="submit" name="details{{ selected_module }}" value="Hide details"><br>
		{% else %}
			<input type="submit" name="details{{ selected_module }}" value="More details"><br>
		{% endif %}
	</form>
	<br>
{% endif %}

{% if interesting_modules %}
	<strong>Interesting modules:</strong><br>
	{% for m in interesting_modules %}
		<u>{{ m }}</u><br>
		{% if m in details %}
			More details on module {{ m }} coming soon to a web browser near you...<br>
		{% endif %}
		<form action="{% url 'modulo:modulo-recommender' %}" style="display:inline" method="post">
			{% csrf_token %}
			<input type="radio" name="interesting_module_{{ m }}" id="interesting_module_feedback_select_{{ m }}" value="selected" onclick="selectModule('interesting', {{ forloop.counter }} - 1)" />
			<label for="interesting_module_feedback_select_{{ m }}">Select module</label>
			
			<input type="radio" name="interesting_module_{{ m }}" id="interesting_module_feedback_not_for_me{{ m }}" value="not_for_me" onclick="unselectModule('interesting', {{ forloop.counter }} - 1)" />
			<label for="interesting_module_feedback_not_for_me{{ m }}">Not-for-me module</label><br>
			
			<input type="submit" onclick="return submitForm('interesting', {{ forloop.counter }} - 1, &quot;{{ m }}&quot;);" name="submit{{ m }}" value="Update feedback" />
			
		</form>
		<form action="{% url 'modulo:modulo-recommender' %}" style="display:inline" method="post">
			{% csrf_token %}
			{% if m in details %}
				<input type="submit" name="details{{ m }}" value="Hide details"><br>
			{% else %}
				<input type="submit" name="details{{ m }}" value="More details"><br>
			{% endif %}
		</form>
	{% endfor %}
	<br>
{% endif %}

{% if not_for_me_modules %}
	<strong>Not-for-me modules:</strong><br>
	{% for m in not_for_me_modules %}
		<u>{{ m }}</u><br>
		{% if m in details %}
			More details on module {{ m }} coming soon to a web browser near you...<br>
		{% endif %}
		<form action="{% url 'modulo:modulo-recommender' %}" style="display:inline" method="post">
			{% csrf_token %}
			<input type="radio" name="not_for_me_module_{{ m }}" id="not_for_me_module_feedback_select_{{ m }}" value="selected" onclick="selectModule('notForMe', {{ forloop.counter }} - 1)" />
			<label for="not_for_me_module_feedback_select_{{ m }}">Select module</label>
			<input type="radio" name="not_for_me_module_{{ m }}" id="not_for_me_module_feedback_interesting_{{ m }}" value="interesting" onclick="unselectModule('notForMe', {{ forloop.counter }} - 1)" />
			<label for="not_for_me_module_feedback_interesting_{{ m }}">Interesting module</label><br>
			<input type="submit" onclick="return submitForm('notForMe', {{ forloop.counter }} - 1, &quot;{{ m }}&quot;);" name="submit{{ m }}" value="Update feedback" />
		</form>
		<form action="{% url 'modulo:modulo-recommender' %}" style="display:inline" method="post">
			{% csrf_token %}
			{% if m in details %}
				<input type="submit" name="details{{ m }}" value="Hide details"><br>
			{% else %}
				<input type="submit" name="details{{ m }}" value="More details"><br>
			{% endif %}
		</form>
	{% endfor %}
	<br>
{% endif %}

{% if seen_modules %}
	<strong>Seen modules:</strong><br>
	{% for m in seen_modules %}
		<u>{{ m }}</u><br>
	{% endfor %}
	<br>
{% endif %}

{% if not_seen_modules %}
	<strong>Not seen modules:</strong><br>
	{% for m in not_seen_modules %}
		<u>{{ m }}</u><br>
	{% endfor %}
	<br>
{% endif %}

<form action="{% url 'modulo:modulo-recommender' %}" method="post" style="display:inline">
	{% csrf_token %}
	<input type="hidden" name="nextState" value="displayModules">
	<input type="submit" value="<- View recommendation" />
</form>
<form action="{% url 'modulo:modulo-recommender' %}" method="post" style="display:inline">
	{% csrf_token %}
	<input type="submit" name="submitFeedback" value="Submit feedback ->" />
</form>

<script>
var nrSelectedModule = 0
var nrInterestingModules = 0
var interestingModulesSelected = []
var nrNotForMeModules = 0
var notForMeModulesSelected = []


function confirmTxt(newSelectedModule){
	//document.getElementById("output").innerHTML = "{{selected_module}}"
	return "You can only have one selected module.\nBy proceeding you will override the selected module \""+"{{ selected_module }}"+"\" with \""+newSelectedModule+"\".\nProceed?"
}

addModules()
function addModules() {
	{% if selected_module %}
		nrSelectedModule = 1
	{% endif %}
	{% if interesting_modules %}
		{% for m in interesting_modules %}
			interestingModulesSelected[interestingModulesSelected.length] = false
			nrInterestingModules += 1
		{% endfor %}		
	{% endif %}
	{% if not_for_me_modules %}
		{% for m in not_for_me_modules %}
			notForMeModulesSelected[notForMeModulesSelected.length] = false
			nrNotForMeModules += 1
		{% endfor %}
	{% endif %}
	//document.getElementById("output").innerHTML = "modules = "+modules+"; nrSelectedModule="+nrSelectedModule+"; nrInterestingModules="+nrInterestingModules+"; nrNotForMeModules="+nrNotForMeModules
}

function selectModule(feedbackType, moduleNr) {
	//document.getElementById("output").innerHTML = "Selecting module no. "+moduleNr+" from feedback = "+feedbackType+"; nrSelectedModule="+nrSelectedModule+"; nrInterestingModules="+nrInterestingModules+"; nrNotForMeModules="+nrNotForMeModules
	if (feedbackType === "interesting"){
		interestingModulesSelected[moduleNr] = true
	}
	else if (feedbackType === "notForMe"){
		notForMeModulesSelected[moduleNr] = true
	}
}

function unselectModule(feedbackType, moduleNr){
	//document.getElementById("output").innerHTML = "Unselecting module no. "+moduleNr+" from feedback = "+feedbackType+"; nrSelectedModule="+nrSelectedModule+"; nrInterestingModules="+nrInterestingModules+"; nrNotForMeModules="+nrNotForMeModules
	if (feedbackType === "interesting" && interestingModulesSelected[moduleNr]){
		interestingModulesSelected[moduleNr] = false
	}
	else if (feedbackType === "notForMe"){
		notForMeModulesSelected[moduleNr] = false
	}
}

function submitForm(feedbackType, moduleNr, moduleName){
	//document.getElementById("output").innerHTML = "Submitting form: module "+moduleNr+" from feedback = "+feedbackType+"; 	nrSelectedModule="+nrSelectedModule+"; nrInterestingModules="+nrInterestingModules+" and interestingModulesSelected="+interestingModulesSelected+"; nrNotForMeModules="+nrNotForMeModules+" and notForMeModulesSelected="+notForMeModulesSelected
	if (nrSelectedModule == 1 && ((feedbackType === "interesting" && interestingModulesSelected[moduleNr]) || (feedbackType === "notForMe" && notForMeModulesSelected[moduleNr])){
		return confirm(confirmTxt(moduleName));
	}
	else{
		return true
	}
}
</script>
{% endautoescape %}
</td>
        </tr>
    </tbody>
 </table>
</body>