{% extends "./main_template_temp.html" %}
{% load static %}
{% load staticfiles %}

{% block title %}
	Update Filters
{% endblock %}

{% block header %}
	Update your filters
{% endblock %}

{% block navigation_recommendation %}
	<a href="{% url 'modulo:modulo-recommender' %}" target="" class="selected"><b>Recommendation</b></a>
{% endblock %}

{% block head_scripts %}
	<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{% endblock %}

{% block content %}
	{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
	{% endif %}

	{% autoescape off %}
	<form id="moduleForm" action="{% url 'modulo:modulo-recommender' %}" method="post">
		{% csrf_token %}
		{% comment %}{{ moduleForm.as_p | linebreaksbr }}{% endcomment %}
		{% for field in moduleForm %}
			<div class="fieldWrapper">
				{{ field.errors }}
				{{ field.label_tag }} {{ field }}
				{% if field.help_text %}
					<p class="help">{{ field.help_text | safe | linebreaksbr }}</p>
				{% endif %}
			</div>
		{% endfor %}
		<p>
			<button type="reset" value="Reset filters" onclick="resetForm(event, $(this));">Reset</button>
			<button type="button" id="selectAdvancedFilters" onclick="changeFormToDisplay()"></button>
		</p>
		<input type="submit" name="moduleForm" value="Update filters ->" />
	</form>

	<form id="advancedForm" action="{% url 'modulo:modulo-recommender' %}" method="post">
		{% csrf_token %}
		{% comment %}{{ advancedForm.as_p | linebreaksbr }}{% endcomment %}
		{% for field in advancedForm %}
			<div class="fieldWrapper">
				{{ field.errors }}
				{{ field.label_tag }} {{ field }}
				{% if field.help_text %}
					<p class="help">{{ field.help_text | safe | linebreaksbr }}</p>
				{% endif %}
			</div>
		{% endfor %}
		<p>
			<button type="reset" value="Reset filters" onclick="resetForm(event, $(this));">Reset</button>
			<button type="button" id="selectNormalFilters" onclick="changeFormToDisplay()"></button>
		</p>
		<input type="submit" name="advancedForm" value="Update filters ->" />
	</form>
	{% endautoescape %}
	
	{{ moduleForm.media }}
	{{ advancedForm.media }}

{% endblock %}

{% block scripts %}
	<script>
		{% if advanced %}
		var displayAdvancedForm = true
		{% else %}
		var displayAdvancedForm = false
		{% endif %}
		changeFormToDisplay()

		function changeFormToDisplay(){
			if (displayAdvancedForm){
				document.getElementById("advancedForm").style.display="block"
				document.getElementById("moduleForm").style.display="none"
				document.getElementById("selectNormalFilters").innerHTML = 'Normal filters'
			}
			else{
				document.getElementById("moduleForm").style.display="block"
				document.getElementById("advancedForm").style.display="none"
				document.getElementById("selectAdvancedFilters").innerHTML = 'Advanced filters'
			}
			displayAdvancedForm = !displayAdvancedForm
		}
		
		function resetForm(e, thisobj) {
			thisform = thisobj.closest('form');
			selectbox_in_form = thisform.find('select');

			// completely remove selected when it has been assigned.
			selectbox_in_form.find('option:selected').removeAttr('selected');
			selectbox_in_form.val('');
			selectbox_in_form.change();

			delete selectbox_in_form;
			delete thisform;
		}// resetForm

		$(function() {
			// activate Select2
			$('.selectbox-replacement-enabler').select2();
		});
		
	</script>
{% endblock %}
