{% load static %}

<h1>Update your filters</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% autoescape off %}
<form id="moduleForm" action="{% url 'modulo:modulo-recommender' updateFilters state id %}" method="post">
	{% csrf_token %}
	{{ moduleForm.as_p }}
	<input type="reset" value="Reset filters" /><input type="submit" name="moduleForm" value="Update filters" />
</form>

<form id="advancedForm" action="{% url 'modulo:modulo-recommender' updateFilters state id %}" method="post">
	{% csrf_token %}
	{{ advancedForm.as_p }}
	<input type="reset" value="Reset filters" /><input type="submit" name="advancedForm" value="Update filters" />
</form>
{% endautoescape %}

<button id="filterSelect" onclick="changeFormToDisplay()"></button>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ moduleForm.media }}
{{ advancedForm.media }}

<script>
{% if advanced %}
var displayAdvancedForm = true
{% else %}
var displayAdvancedForm = false
{% endif %}
changeFormToDisplay()

function changeFormToDisplay(){
	if (displayAdvancedForm){
		document.getElementById("advancedForm").style.display="block"
		document.getElementById("moduleForm").style.display="none"
		document.getElementById("filterSelect").innerHTML = 'normal filters'
	}
	else{
		document.getElementById("moduleForm").style.display="block"
		document.getElementById("advancedForm").style.display="none"
		document.getElementById("filterSelect").innerHTML = 'advanced filters'
	}
	displayAdvancedForm = !displayAdvancedForm
}
</script>