{% load static %}

<h1>Update your filters</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'modulo:modulo-recommender' updateFilters state id %}" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	{{ moduleForm.as_p }}
	{{ interestForm.as_p }}
	
	<input type="reset" value="Reset filters" /><input type="submit" value="Update filters" />
</form>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{{ moduleForm.media }}
{{ interestForm.media }}