{% extends "./main_template_temp.html" %}
{% comment %}
{% extends "./recommender_selectFilters_temp.html" %}
{% endcomment %}
{% load static %}
{% load staticfiles %}

{% block title %}
	Select Filters
{% endblock %}

{% block header %}
	Select your filters
{% endblock %}

{% block navigation_recommendation %}
	<a href="{% url 'modulo:modulo-recommender' %}" target="" class="selected"><b>Recommendation</b></a>
{% endblock %}

{% block content %}
	{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
	{% endif %}

	{% autoescape off %}
	<form id="moduleForm" action="{% url 'modulo:modulo-recommender' %}" method="post">
		{% csrf_token %}
		{% comment %}{{ moduleForm.as_p | linebreaksbr }}{% endcomment %}
		{% for field in moduleForm %}
			<div class="fieldWrapper">
				{{ field.errors }}
				{{ field.label_tag }} {{ field }}
				{% if field.help_text %}
					<p class="help">{{ field.help_text | safe | linebreaksbr }}</p>
				{% endif %}
			</div>
		{% endfor %}
		<p>
			<button type="reset" value="Reset filters" onclick="resetForm(event, $(this));">Reset</button>
			<button type="button" id="selectAdvancedFilters" onclick="changeFormToDisplay()"></button>
		</p>
		<input type="submit" name="moduleForm" value="Get course recommendation ->" />
	</form>

	<form id="advancedForm" action="{% url 'modulo:modulo-recommender' %}" method="post">
		{% csrf_token %}
		{% comment %}{{ advancedForm.as_p | linebreaksbr }}{% endcomment %}
		{% for field in advancedForm %}
			<div class="fieldWrapper">
				{{ field.errors }}
				{{ field.label_tag }} {{ field }}
				{% if field.help_text %}
					<p class="help">{{ field.help_text | safe | linebreaksbr }}</p>
				{% endif %}
			</div>
		{% endfor %}
		<p>
			<button type="reset" value="Reset filters" onclick="resetForm(event, $(this));">Reset</button>
			<button type="button" id="selectNormalFilters" onclick="changeFormToDisplay()"></button>
		</p>
		<input type="submit" name="advancedForm" value="Get course recommendation ->" />
	</form>
	<script>
		resetForm(event, $(document.getElementById("advancedForm")));
	</script>
	{% endautoescape %}
	
	<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
	{{ moduleForm.media }}
	{{ advancedForm.media }}

{% endblock %}

{% block scripts %}
	<script>
		{% if advanced %}
		var displayAdvancedForm = true
		{% else %}
		var displayAdvancedForm = false
		{% endif %}
		changeFormToDisplay()

		function changeFormToDisplay(){
			if (displayAdvancedForm){
				document.getElementById("advancedForm").style.display="block"
				document.getElementById("moduleForm").style.display="none"
				document.getElementById("selectNormalFilters").innerHTML = 'Normal filters'
			}
			else{
				document.getElementById("moduleForm").style.display="block"
				document.getElementById("advancedForm").style.display="none"
				document.getElementById("advancedForm").load
				document.getElementById("selectAdvancedFilters").innerHTML = 'Advanced filters'
			}
			displayAdvancedForm = !displayAdvancedForm
		}
		
		function resetForm(e, thisobj) {
			thisform = thisobj.closest('form');
			selectbox_in_form = thisform.find('select');

			// completely remove selected when it has been assigned.
			selectbox_in_form.find('option:selected').removeAttr('selected');
			selectbox_in_form.val('');
			selectbox_in_form.change();

			delete selectbox_in_form;
			delete thisform;
		}// resetForm

		$(function() {
			// activate Select2
			$('.selectbox-replacement-enabler').select2();
		});
		
	</script>
{% endblock %}

{% comment %}
This should reset all data from select2 wigets (interests, locations and exams)

// clear all option
$('#select_with_blank_data').html('').select2({data: [{id: '', text: ''}]});

// clear and add new option
$("#select_with_data").html('').select2({data: [
 {id: '', text: ''},
 {id: '1', text: 'Facebook'},
 {id: '2', text: 'Youtube'},
 {id: '3', text: 'Instagram'},
 {id: '4', text: 'Pinterest'}]});
 
 
OR:


The best way to do this now is:
$('#your_select_input').val('');

Edit: December 2016 Comments suggest that the below is the updated way to do this:
$('#your_select_input').val([]);


OR:

<form method="get" onsubmit="return testFormSubmit($(this));">
    <input type="hidden" name="somehidden" value="hidden input for test many form fields.">
    <select name="selectbox" class="selectbox-replacement-enabler test-form-submit-selectbox form-control">
        <option value="">Please select</option>
        <option value="ajax">Ajax</option>
        <option value="json">Json</option>
        <option value="jquery">jQuery</option>
        <option value="php">PHP</option>
        <option value="html">HTML</option>
    </select>
    <select name="selectbox2" class="selectbox-replacement-enabler test-form-submit-selectbox form-control">
        <option value="">Please select</option>
        <option value="ajax">Ajax</option>
        <option value="json">Json</option>
        <option value="jquery">jQuery</option>
        <option value="php">PHP</option>
        <option value="html" selected="selected">HTML</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-default" onclick="resetForm(event, $(this));">Reset</button>
</form>

<script>
	function resetForm(e, thisobj) {
		thisform = thisobj.closest('form');
		selectbox_in_form = thisform.find('select');

		// completely remove selected when it has been assigned.
		selectbox_in_form.find('option:selected').removeAttr('selected');
		selectbox_in_form.val('');
		selectbox_in_form.change();

		delete selectbox_in_form;
		delete thisform;
	}// resetForm

	$(function() {
		// activate Select2
		$('.selectbox-replacement-enabler').select2();
	});
</script>


{% endcomment %}